<% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= Trip failed to be added! %>
      </li>
    <% end %>
  </ul>
<% end %>