<%# View details of the trip
Assign a rating (1-5) to the trip, if it does not already have one
Click a link to the detail page for the trip's passenger
Click a link to the detail page for the trip's driver
Click a link to edit the trip
Click a link to delete the trip %>

<h1> Trip Details Page </h2>