<nav>
<a href="/">RideShare Rails!</a>
<a href="/drivers/">Drivers</a>
<a href="/passengers">Passengers</a>
</nav>

<section>
    <%= link_to "Add driver", new_driver_path, class: 'btn' %>
    <%= link_to "Add passenger", new_driver_path, class: 'btn' %>
</section>

<h1><%= link_to "Manage Passengers", passengers_path%>
<h1><%= link_to "Manage Drivers", drivers_path%>
