
 <section class="homepage">
  <div>
    <h2 class="index-headers"><%= link_to "Manage Drivers", drivers_path %></h2>
    <h2 class="index-headers"><%= link_to "Manage Passengers", passengers_path %></h2>
  </div>
  <div>
   <%= link_to (image_tag("bunny.png", id: "bunny", alt: "bunny driving a car")), "https://www.youtube.com/watch?v=tp_lt5KgVq8" %>
  </div>
 </section>