<h1>Homepage</h1>

Good morning, Dianna!!

<p>I've gotten things laid out reasonably well and now we can make it pretty. I wasn't able to <br>
quickly figure out how to use lego people as our profile photos, so I just plugged in a link <br>
that provides random photos.</p>

Some thoughts on additionals things we could do, so that I don't forget:<br>
- Homepage images / content<br>
- Date formatting on detail pages<br>
- New/Edit form -- padding between text fields, standardize input field sizes
- Buttons for links
