<section class="homepage">
  <article class="greeting">
    <h3>Why wait?</h3>
    <h3>When you can get <span>Spirited Away~</span></h3>
    <article class="reasons">
      <p>
      Don't get stuck waiting at the bus stop in the rain. Ride in style like a Totoro!
      <p>
      <p>
      Whether you're a magical, mythical or human being, we can get you to where you're going.
      </p>
    </article>
  </article>
</section>