<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Homepage</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Rideshare</h1>
      <nav>
        <ul>
          <%= link_to "Rideshare Rails", root_path %>
          <%= link_to "Passengers", passengers_path %>
          <%= link_to "Drivers", drivers_path %>
        </ul>
      </nav>
    </header>
  </body>
</html>


