<main>
  <h1>Welcome to our Rideshare Rails program!</h1>
  <section id="homepage-links-container">
    <div class="homepage-links"><%= link_to 'Manage Drivers', drivers_path %></div>
    <div class="homepage-links"><%= link_to 'Manage Passengers', passengers_path %></div>
  </section>
</main>