<main class="homepage">
  <h1 id="homepage-title">Tofu's Rideshare App</h1>
  <%= image_tag("https://i.redd.it/ugayyjtvl3r21.jpg", alt: "Image of samoyed dog in the diver's seat of a car")%>
  <p>
    <%= link_to "Manage Drivers", drivers_path, class: "button" %>
  </p>
  <p>
    <%= link_to "Manage Passengers", passengers_path, class: "button" %>
  </p>
</main>

