<nav>
<a id="logo" href="/">RideShare Rails!</a>
<a href="/drivers/">Drivers</a>
<a href="/passengers">Passengers</a>
</nav>

<main>
    <section class="card">
        <%= link_to "Add driver", new_driver_path, class: 'btn' %>
        <%= link_to "Add passenger", new_driver_path, class: 'btn' %>
    </section>
    <section id="manage" class="card">
        <h1><%= link_to "Manage Passengers", passengers_path%>   <i class="fas fa-arrow-right"></i></h1>
        <h1><%= link_to "Manage Drivers", drivers_path%>   <i class="fas fa-arrow-right"></i></h1>
    </section>
</main>