<nav>
<a href="/">RideShare Rails!</a>
<a href="/drivers/">Drivers</a>
<a href="/passengers">Passengers</a>
</nav>

<section>
    <button>Add a driver</button>
    <button>Add a passenger</button>
</section>

<h1><%= link_to "Manage Passengers", passengers_path%>
<h1><%= link_to "Manage Drivers", drivers_path%>
