<h1>Goober Ride Share</h1>

<div class="homepage-photo">
  <%# Photo by Alfonso Escalante from Pexels %>
  <img class="vw" src="https://res.cloudinary.com/hwkbelwau/image/upload/v1570898097/4k-wallpaper-auto-automobile-2832251_2_umdvxt.jpg" alt="VW bus" />
</div>
