<%# Welcome to Rideshare! %>

<%# <%= link_to "View Drivers", drivers_path %>
<%# <%= link_to "View Passengers", passengers_path %>
<div class="index">
  <section class="welcome-background">
    <%= image_tag "https://images.pexels.com/photos/7674/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=640&w=400", alt: "cars in traffic" %>
    <div class="text-block">
      <h4>Need a ride?</h4>
      <p>Request one through our site!</p>
    </div>
  </section>
</div>


