<h1 class="title">Goober Ride Share</h1>

<div class="homepage-photo">
  <%# Photo by Alfonso Escalante from Pexels %>
  <img class="vw" src="https://res.cloudinary.com/hwkbelwau/image/upload/v1571501077/vw_bus.jpg" alt="VW bus" />
</div>
