
<h2>Welcome to Elizabeth and Morgan's Rideshare App!</h3>
<h4>Please select where you would like to be navigated:</h2>

<div>
<%= link_to "Passengers", passengers_path %>
<br>
<%= link_to "Drivers", drivers_path %>

</div>