<h1>Super Happy Rideshare Fun Time App!!!</h1>

<section id="homepage-buttons">
  <button class="list-button"><%= link_to "GO TO DRIVERS", drivers_path%></button>

  <button class="list-button"><%= link_to "GO TO PASSENGERS", passengers_path%></button>

  <button class="list-button"><%= link_to "GO TO TRIPS", trips_path%></button>
</section>

<section id="homepage-photo"><%= image_tag ("roadtrip.jpg"), alt: "jeep" %> </section>

