<h1>Welcome to our Ride Share App!</h1>
<p>Passengers</p>
<p><%= link_to 'Drivers', drivers_path =%></p>
<p>Add Passenger</p>
<p>Add Driver</p>
<footer>Copyright Ada C12 Kristina and Georgina</footer>