<h1>Welcome to our Ride Share App!</h1>

<p><%= link_to 'Drivers', drivers_path =%></p>
<p><%= link_to 'Add New Driver', new_driver_path =%></p>
<p><%= link_to 'Add New Passenger', new_passenger_path =%></p>

<p><%= link_to 'Passengers', passengers_path =%></p>

<footer>Copyright Ada C12 Kristina and Georgina</footer>