<main>
  <h2>List of all Passengers</h2>

  <section id="passengers-trips-list">
    <table>
      <tr class='table-header'>
        <td>NAME</td>
        <td>PHONE NUMBER</td>
        <td>EDIT</td>
        <td>DELETE</td>
      </tr>
      <% @passengers.each do |passenger| %>
          <tr>
            <td><%= link_to passenger.name, passenger_path(passenger.id) %></td>
            <td><%= passenger.phone_num %> </td>
            <td><%= link_to "Edit", edit_passenger_path(passenger.id) %></td>
            <td><%= link_to "Delete", passenger_path(passenger.id), method: :delete, data: { confirm: "Are you sure?" }, class: "index-delete-link" %></td>
          </tr>
      <% end %>
    </table>
  </section>
</main>