<h3>Passengers</h3>

<%= link_to "Back to Homepage", root_path %>
<br>
<%= link_to "Create a New Passenger", new_passenger_path %>

<ul>
<% @passengers.each do |passenger| %>
  <li>
    <%= link_to passenger.name, passenger_path(passenger) %>
  </li>
  <% end %>
</ul>
