<h1>All Passengers</h1>
<% link_to "Add New Passenger", %>

<section>
  <ul class="list-all">
    <%@passengers.each do |passenger|%>
    <li>
      <%= link_to passenger.name, passenger_path(passenger.id) %>
      <%= link_to "Edit Passenger Info", edit_passenger_path(passenger.id) %>
      <%= link_to "Delete Passenger", passenger_path(passenger.id), method: :delete, data: { confirm: "Are you sure?" }%>
    </li>
    <%end%>
  </ul>
</section>