<header class="show-passenger-header">
  <h1>Passenger Trips</h1>
  <h4><%=@passenger.name%></h4>
  <h4><%=@passenger.phone_num%></h4>
  <h4>Total Earnings</h4>
  <%= link_to "Request Ride!", new_trip_path %>
</header>