<header class="show-header">
<h1><%=@passenger.name%></h1>

<%= link_to "Edit this passenger!", edit_passenger_path(@passenger.id)%>

  <li>
    <%= link_to "View all Passenger's Trips", trips_path %>
  </li>

</header>
