<h1 class="index-header">Rideshare Drivers</h1>

<section>
  <ul>
    <% @drivers.each do |driver| %>
      <li>
        <%= link_to driver.name, driver_path(driver.id) %>
      </li>
      <li>
        <%= link_to "Edit", edit_driver_path(driver.id) %>
      </li>
      <li>
        <%= link_to "Delete", driver_path(driver.id), method: :delete, data: { confirm: "Are you sure you want to delete this driver?" }, class: "index-delete-link" %>
      </li>
    <% end %>
  </ul>
</section>
