<h1>All Drivers</h1>

<section>
  <table class="trip-table">
    <%@drivers.each do |driver|%>
    <tr>
      <td><%= link_to driver.name, driver_path(driver.id) %></td>
      <td><%= link_to "Edit Driver Info", edit_driver_path(driver.id) %></td>
      <td><%= link_to "Delete Driver", driver_path(driver.id), method: :delete, data: { confirm: "Are you sure?" }%></td>
    </tr>
    <%end%>
  </table>
</section>
