<body>
  <section>
    <table style=width100%>
    <tr>
      <th><h2> List of all Drivers </h2></th>
    </tr>
      <% @drivers.each do |driver| %>
        <tr>
          <th><%= link_to driver.name, driver_path(driver.id)%></th>
        </tr>
      <% end %>
    </table>
  </section>
</body>