<h1 class="home-header">The Driver Index</h1>

<section>
  <h2> List of all Drivers </h2>
  <ul>
    <% @drivers.each do |driver| %>
      <li>
        <%= link_to driver.name, driver_path(driver.id)%>
      </li>
    <% end %>
  </ul>
</section>