 <h2>List of all drivers</h2>
<section>
    <table>                         
    <tr>                          
      <th>Driver Name</th>
    </tr>
    <% @drivers.each do |driver| %>
      <tr>
        <td> 
          <%= link_to driver.name, driver_path(driver.id) %>
          <%= link_to "(Delete)", driver_path(driver.id), method: :delete, data: { confirm: "Are YOU sure?" }, class: "index-delete-link" %>
        </td>       
      </tr>
    <% end %>                    
  </table> 
</section>
