<h1> List of All Drivers: </h1>

<ul>
<% @drivers.each do |driver| %>
<li>
<%= link_to driver.name, driver_path(driver) %>
<%= button_to 'Change Active Status', toggle_active_path(driver), method: :put, data: {confirm: "Are you sure?"} %>
</li>
<% end %>
</ul>
