<div class="index-container">
  <h1>All Drivers<h1>
    <%= will_paginate @drivers %><br>
<div class="view-all">
  <% @drivers.each do |driver| %>
    <div class="individual">
      <%= image_tag "http://api.adorable.io/avatars/285/#{driver.id}.png", alt: "User photo" %>
      <%= link_to driver.name, driver_path(driver) %>
    </div>
  <% end %>
</div>
  <br>

</div>
