<h1> <%= @driver.name %> </h1>
<h2> <%= @driver.total_earnings %> </h2>
<h2> <%= @driver.average_rating %> </h2>







<%#(This is where the shared partial stuff will go between passenger and driver)#%>