<header class="show-header">
  <h1><%=@driver.name%></h1>
  <h2>Vin: <%=@driver.vin%></h2>
</header>

<section class="show-details">

  <%= image_tag "driver-photo.jpg", alt: "Private chauffer nodding", class: "driver-photo" %>

</section>