/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: #edf5da;
  margin-left: 15%;
  margin-right: 10%;
  font-size: 1.25rem;
}

.button {
  width: 30%;
  margin: 0.25em;
  font-size: 1.5rem;
  background:#F7E0DA;;
}

header h1 {
  text-align: center;
}

.navbar {
  display: flex;
  width: 95%;
  padding-left: 1.5em;
  margin: 1em;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex-basis: 70%;
}

.nav-item a:link{
  color: #3F8707;
  text-decoration: none;
}

.nav-item a:visited{
  color: #786A7B;  text-decoration: none;
}

.nav-item:hover a {
  color: darkgreen;
}