// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.errors {
  padding-inline-start: 0;
}

li {
  list-style: none;
}

.form-outline {
  text-align: center;
  font-size: 1.1em;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}

.index-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 1.5em;
}

.index-container h1 {
  grid-column: 2;
  font-size: 1.5em;
}

.view-all {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: .8em;
  font-weight: lighter;
  list-style: none;
  text-align: left;
}

.individual {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: gray;
  width: min-content;
  margin: 2vmin;
  margin-bottom: 2em;
  text-align: center;
  border: none;
  font-size: 1.2em;
}

.pagination {
  text-align: center;
  font-weight: bold;
}

.driver-form {
  font-size: 1.5em;
  text-align: left;
  width: auto;
  line-height: 1.5em;

  input {
    font-size: .8em;
    width: 15em;
  }

  select {
    font-size: .8em;
  }
}

input.driver-button {
  width: 5em;
  text-align: center;
}

div.field_with_errors {
  display: inline
}
