// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main section {
  height: max-content;
  margin-bottom: 4rem;
}

$pink: rgb(255,0,191);

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.details > * {
  background-color: #FFACEA;
  width: max-content;
  padding: 1rem;
  margin: 0.5rem;
}

.modify-options {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.modify-options > * {
  margin: 0 4rem 0 1rem;
}

.car-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}

.vin, .vin-label {
  grid-row-start: 1;
  grid-row-end: 2;
}

.make, .make-label {
  grid-row-start: 2;
  grid-row-end: 3;
}

.model, .model-label {
  grid-row-start: 3;
  grid-row-end: 4;
}
