// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.driver_grid {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr 1fr;
}

.header_row {
  background-color: chartreuse;
  font-weight: bolder;
}

.add-button {
  background: lightgrey;
  color: black;
  font-weight: 700;
  margin: 1rem;
}

.add-button a {
  text-decoration: none;
  font-size: 1rem;
}