// Place all the styles related to the Homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#homepage-photo {
  display: flex;
  justify-content: center;
  
}

#homepage-photo img {
  width: 100%;
}