// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.passengers-container {
  background-image: url("https://66.media.tumblr.com/256b399e71722bc56146bea5f201d586/tumblr_o56qe4DFOV1u1nuzeo1_1280.png");
  background-attachment: fixed;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: right;
}

.passengers-border {
  padding-left: 2rem;
}