// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  text-align: center;
}

.trip-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1.5em;
}

.trip-header li {
  width: 30%;
}

.trip-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.trip-details li {
  width: 30%;
}
